.activities-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .activity {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .activity-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .activity-details {
    padding: 20px;
  }
  
  .activity-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .activity-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .activity-details a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .activity-details a:hover {
    text-decoration: underline;
  }
  