/* Base styles */
.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboard-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #faf6f6;
    margin-bottom: 20px;
  }
  
  /* Section-specific styles */
  section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(10, 129, 129);
    background-image: -webkit-linear-gradient(grey,rgb(29, 25, 65),rgb(7, 49, 61));
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #f8f7f7;
    margin-bottom: 10px;
  }
  
  /* Form styles */
  form {
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="submit"], /* Added for consistency */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
  }
  
  button:hover {
    background-color: #119b6d;
  }
  
  /* Placeholder styles */
  input::placeholder {
    color: #aaa;
  }
  
  /* Section-specific hover styles */
  .workout-logs-section:hover,
  .calories-tracking-section:hover,
  .goal-setting-section:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgb(13, 160, 153); /* Added box shadow */
  }
  
  /* Additional styles for specific sections */
  .workout-logs-section,
  .calories-tracking-section,
  .goal-setting-section {
    border: 1px solid #ccc;
  }
  
  /* Additional hover styles for buttons */
  button:hover {
    box-shadow: 0 2px 4px rgb(9, 136, 153); /* Added box shadow */
  }
  