/* Container styles */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }
  
  .blog-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .blog-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  /* Section styles */
  .blog-section {
    margin-bottom: 60px;
  }
  
  .blog-section h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }
  
  /* Blog post styles */
  .blog-post {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  .blog-post:hover {
    transform: translateY(-5px);
  }
  
  .blog-post img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .blog-post img:hover {
    transform: scale(1.05);
  }
  
  .post-content {
    flex: 1;
  }
  
  .post-content h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .post-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Read more link */
  .read-more {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .read-more:hover {
    color: #0056b3;
  }
<<<<<<< HEAD
  
=======
  
>>>>>>> 1b176b92d18bdca31ac2c65743d52f5e83ebfdec
