.dashboard {
    display: flex;
  }
  
  .dashboard-content {
    flex: 1; /* This will make the content area fill the remaining space */
    padding: 20px; /* Adjust padding as needed */
  }
  
  .content-display {
    width: 300px; /* Adjust width of the content display area */
    padding: 20px; /* Adjust padding as needed */
  }
  
<<<<<<< HEAD
=======

>>>>>>> 1b176b92d18bdca31ac2c65743d52f5e83ebfdec
