/* GoalSetting.css */

.goal-setting-container {
    background-color: rgb(254, 246, 246);
    color: white;
    padding: 20px;
  }
  
  .goal-form input[type="text"],
  .goal-form input[type="datetime-local"],
  .goal-form button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .goal-form input[type="text"],
  .goal-form input[type="datetime-local"] {
    width: 100%;
  }
  
  .goal-form button[type="submit"] {
    width: 100%;
  }
  
  .goal-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .goal-button:hover {
    background-color: #030631; /* Darker shade of blue on hover */
  }
  