.home-content {
    margin-left: 320px; /* Adjust the margin-left to move the content to the left */
  }
  
  .content {
    max-width: 600px; /* Adjust the maximum width of the content */
    padding: 20px;
    background-color: #f0f0f0; /* Example background color */
    border-radius: 5px;
  }
  