/* Home Styles */
body {
  background-image: -webkit-linear-gradient(rgb(0, 0, 0),rgb(0, 1, 8));
  
}

/* Dark mode styles */
.dark-mode {
  background-image: -webkit-repeating-linear-gradient(rgb(2, 34, 49),rgb(12, 8, 48));
  color: #f9f9fc;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

/* Header */

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 40px;
}

/* Logo Text */
.logo h1 {
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
}

/* Logo Span */
.logo span {
  color: blue;
  transition: transform 0.1s ease;
}

/* Hover Effect */
.logo h1:hover span {
  transform: translateY(-5px) rotateY(180deg) scale(1.2);
  color: #077d8d; /* Change color on hover */
}

/* Animation */
@keyframes movingLetters {
  5% {
    transform: translateX(5);
  }
  50% {
    transform: translateX(-10px) rotateY(360deg);
  }
  100% {
    transform: translateX(8);
  }
}

/* Apply Animation */
.logo h1 span {
  display: inline-block;
  animation: movingLetters 1s infinite alternate;
}

/* Introduction Section */
.intro-section {
  text-align: center;
  padding: 60px 0;
}

/* Intro Heading */
.intro-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fcfbfd;
  text-shadow: 2px 2px 4px rgb(5, 252, 211);
  animation: slideInDown 1s ease-in-out;
}

/* Intro Text */
.intro-text {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff8f8;
  margin-bottom: 2.5rem;
  animation: slideInLeft 1s ease-in-out;
}

/* Get Started Button */
.get-started-button {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  background-color: blue;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgb(3, 253, 199);
}

/* Button Hover Effect */
.get-started-button:hover {
  background-color: #020008;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 12px rgba(1, 199, 248, 0.5);
}

/* Animation for Intro Heading */
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(5);
  }
}

/* Animation for Intro Text */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Additional Features */
.intro-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('http://tinyurl.com/278c2jzz');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.8;
  padding: 200px 30px;
}

.intro-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(1, 0, 14, 0.466), rgba(1, 0, 14, 0.418));
  z-index: -1;
}

.intro-section .intro-heading,
.intro-section .intro-text,
.intro-section .get-started-button {
  position: relative;
  z-index: 1;
}


/* Instructors Section */
.instructors-section {
  text-align: center;
  margin: 60px 0;
}

.instructors-section h3 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #ecf2f5;
}

.instructor-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.instructor {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(3, 226, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instructor:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgb(4, 245, 124);
}

.instructor img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
}

.instructor figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 10px;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.instructor:hover figcaption {
  opacity: 1;
}

.instructor:hover img {
  transform: scale(1.05);
}

.instructor:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.instructor:hover figcaption {
  z-index: 2;
}



/* Workouts Section */
.workouts-section {
  text-align: center;
  margin-top: 60px;
}

.workouts-section h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.workouts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workout {
  width: calc(25% - 20px);
  margin-bottom: 40px;
  background-color: #052335;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(251, 253, 253);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgb(2, 200, 250);
  background-color: rgb(0, 0, 0);
}

.workout img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.workout-info {
  padding: 20px;
}

.workout-info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.workout-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.benefits-list {
  text-align: left;
  margin-bottom: 20px;
}

.benefits-list li {
  margin-bottom: 8px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #000108;
}



/* Our Packages Section */
.packages-section {
  text-align: center;
  padding: 40px 0;
}

.packages-section h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fdfcfc;
}

.package-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

.package {
  background-image: -webkit-radial-gradient(rgb(2, 2, 26),rgb(10, 3, 70));
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.package:hover {
  transform: translateY(-5px) rotate(-2deg);
  box-shadow: 0 8px 16px rgb(4, 212, 240);
}

.package-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f7f3f3;
  margin-bottom: 10px;
  display: block;
  animation: nameAnimation 1s infinite alternate;
}

.package-description {
  font-size: 1.2rem;
  color: #fcf9f9;
  margin-bottom: 10px;
  display: block;
}

.package-price {
  font-size: 1.5rem;
  color: #3b3b49;
  font-weight: bold;
  display: block;
}

.package-button {
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.package-button:hover {
  background-color: #06031f;
}

.package::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(45deg, #48bbe8, #1c2652, #1b1935, #0e0950);
  z-index: -1;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes nameAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

/* Location Section */
.location-section {
  text-align: center;
  margin-bottom: 60px; /* Adjust margin as needed */
}

.location-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fffdfd; /* Text color for the heading */
  text-shadow: 2px 2px 4px rgb(4, 245, 253); /* Add a subtle text shadow */
}

.map-container {
  position: relative;
  max-width: 100%; /* Adjust to fit container */
  margin: 0 auto 30px; /* Adjust margin as needed */
  overflow: hidden; /* Hide overflowing content */
  border-radius: 12px; /* Increased border radius for a softer look */
  box-shadow: 0 0 20px rgb(2, 203, 253);
}

.map-container iframe {
  width: 100%; /* Ensure map fills container */
  height: 200px; /* Adjust height as needed */
  border: 4px solid #0d09d1;
  border-radius: 12px; /* Match container's border radius */
  transition: transform 0.3s ease;
}

.map-container iframe:hover {
  transform: scale(1.03); /* Slight zoom in on hover */
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 60px 20px 20px; /* Adjust padding as needed */
  border-top: 4px solid #3311ca; /* Add top border */
}

.footer .container {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap properly */
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1; /* Each section takes equal space */
  margin-right: 20px; /* Add some space between sections */
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase; /* Uppercase text */
}

.footer p {
  line-height: 1.5;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.footer a:hover {
  color: #3b23be; /* Change color on hover */
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin: 5px 0;
}

.bottom-footer {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.bottom-footer p {
  font-size: 0.8rem;
  margin: 0;
  font-style: italic; /* Italicize text */
  color: #888; /* Dimmed color */
}