.navbar-container {
  display: flex;
}

.sidebar-handle {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-handle:hover {
  background-color: #444;
}

.sidebar {
  background-color: #222;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.show {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-links {
  padding-top: 50px;
}

.sidebar-links a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
  background-color: #444;
}

.auth-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.auth-links a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
}

.nav-links {
  padding: 10px 30px;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}
