.workout-logs-container {
    color: white;
  }
  
  .workout-log {
    background-color: black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .workout-log:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .workout-log strong {
    font-weight: bold;
  }
  
  .workout-log p {
    margin: 5px 0;
  }
  
  .workout-log p:last-child {
    margin-bottom: 0;
  }
  